<v-form
        ref="form"
        v-model="valid"
        lazy-validation
>

    <v-text-field
            v-model="path"
            :counter="maxlg"
            :rules="pathRules"
            label="Full path to existing, empty, and writable folder to create your App"
            required
    ></v-text-field>

    <v-checkbox
            v-model="reglogin"
            label="Add Registration/Login component?"
    ></v-checkbox>

    <v-checkbox
            v-model="mysql"
            label="Connect to Mysql db?"
    ></v-checkbox>

    <v-radio-group v-model="apptype" :mandatory="true">
        <v-radio label="Regular web app frontend" value="at1"></v-radio>
        <v-radio label="Vue app" value="at2"></v-radio>
    </v-radio-group>

    <v-btn
            :disabled="!valid"
            color="success"
            @click="createapp"
    >
        Create App
    </v-btn>

    <v-btn
            color="error"
            @click="reset"
    >
        Restart
    </v-btn>
</v-form>

